@import "ui-variables";

// Highlight matched text
.fuzzy-finder .list-group .character-match {
  color: @text-color-highlight;
  font-weight: bold;
}
.overlay, atom-panel.modal{
  z-index: auto;
}
atom-panel.modal {
    background-color: auto !important;
    max-width: 40em !important;
    margin: 60px auto !important;
}
atom-panel.modal:before {
    border-radius: 0px !important;
}
